*{ background-color: black;}

.portafolio{
    color: white;
    color:white rgba(red, green, blue, alpha);
    text-align: center;
}
.contactos{
    color: white;
    color:white rgba(red, green, blue, alpha);
    text-align: center;
}
